/********************/
/* Under 1400px */
/********************/
@media (max-width: 1400px) {
  .testimonial-box {
    width: 900px;
  }

  .testimonial-slide {
    width: 3600px;
  }

  .card {
    width: 900px;
  }

  .profile-info {
    grid-template-columns: 200px 350px;
    grid-template-rows: 117px 27px;
    max-width: 400px;
    max-height: 250px;
  }

  .testimonial-text {
    grid-column: 1/-1;
    font-size: 18px;
    line-height: 1.2;
  }

  .testimonial-namn {
    padding-top: 4px;
  }

  .btn-mer-info-div {
    padding: 25px 10px;
  }
}

@media (max-width: 1450px) {
  .aboutmequote {
    padding: 40px 100px;
  }

  .aboutmequote:before {
    font-size: 400%;

    top: 12%;
    left: 8%;
  }
}

@media (max-width: 1200px) {
  /* PORTFOLIO */
  /*PORTFOLIO*/
  .section-portfolio {
    background-color: #15aabf;
  }

  .portfolio-heading {
    font-size: 20px;
    padding: 12px 0;
    margin-bottom: 4px;
  }

  .portfolio-table {
    margin: 8px 0;
    max-width: 910px;
    font-size: 16px;
  }

  .table-head {
    font-size: 20px;
  }

  .portfolio-table th,
  .portfolio-table td {
    padding: 4px 0;
  }

  .portfolio-table td {
    max-width: 300px;
    max-height: 400px;
  }

  .portfolio-table tr {
    height: 50px;
    font-size: 24px;
    padding: 12px 6px;
  }

  .portfolio-table tr img {
    width: 50px;
    height: 50px;
  }
}
/* Om oss generellt - (startsida) */
@media only screen and (max-width: 1200px) {
  .row {
    padding: 0 2%;
  }
}

/*small tablets to big tablets: from 768 to 1023px */
/* ABUOT ME */

@media (max-width: 1023px) {
  /* Carousel */
  .testimonial-box {
    width: 800px;
  }

  .testimonial-slide {
    width: 3200px;
    align-items: baseline;
  }

  .card {
    width: 800px;
    height: 350px;
  }

  .profile-info {
    grid-template-columns: 200px 250px;
    grid-template-rows: 117px 27px;
    max-width: 800px;
    max-height: 250px;
  }

  .testimonial-text {
    grid-column: 1/-1;
    font-size: 18px;
    line-height: 1.2;
  }

  .testimonial-namn {
    padding-top: 4px;
  }

  .btn-mer-info-div {
    padding: 20px 50px;
  }
  /* Om oss generellt*/
  @media only screen and (max-width: 1023px) {
    .section-features {
      padding: 60px 0;
    }

    .long-copy {
      width: 80%;
      margin-left: 10%;
    }

    /* KONTAKTA OSS*/

    .kontakta-oss {
      grid-template-columns: 1fr;
    }

    .kontakta-oss-form {
      grid-template-columns: 1fr;
    }

    .kontakta-oss-img-box {
      grid-row: 1;
      height: 290px;
    }

    .aboutmequote {
      padding: 40px 100px;
    }

    .aboutmequote:before {
      font-size: 400%;

      top: 12%;
      left: 8%;
    }

    .portfolio-table tr {
      font-size: 16px;
    }
  }

  @media (max-width: 810px) {
    /* Carousel */
    .testimonial-box {
      width: 400px;
    }

    .testimonial-slide {
      width: 1600px;
    }

    .card {
      width: 400px;
      height: 250px;
    }

    .profile {
      padding-left: 0;
      gap: 5px;
    }

    .profile img {
      border-radius: 50%;
      transform: scale(1);
      height: 120px;
    }

    .profile-info {
      grid-template-columns: 100px 103px;
      grid-template-rows: 145px 43px 30px;
      max-width: 400px;
      max-height: 350px;
    }

    .testimonial-text {
      grid-column: 1/-1;
      font-size: 14px;
      line-height: 1.2;
      padding: 12px 6px;
    }

    .testimonial-namn {
      padding-top: 0;
      padding-right: 7px;
      font-size: 14px;
    }

    .testimonial-jobb {
      padding-top: 0;
      padding-right: 8px;
      font-size: 12px;
      grid-column: 2;
      grid-row: 2/-3;
    }

    .btn-mer-info-div {
      grid-column: 1/2;
      grid-row: 3;
      padding: 0px 12px;
    }

    .btn-mer-info {
      width: 150px;
      padding: 0;
    }
  }

  /* Small phones to small tablets: from 481 to 767px */
  @media (max-width: 767px) {
    /* Mobile nav */
    .btn-mobile-nav {
      display: block;
      z-index: 9999;
    }

    .main-nav {
      background-color: rgb(255, 255, 255, 0.97);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 999;
      transform: translateX(100%);

      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in;

      /* hide nav */
      opacity: 0;

      pointer-events: none;
    }

    .nav-open .main-nav {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
      display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
      display: none;
    }

    .main-nav-list {
      flex-direction: column;
      gap: 48px;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
      font-size: 30px;
    }

    /*******************/
    .container {
      max-width: 480px;
    }
    .container .footer-col {
      width: 50%;
      padding: 20px 20px;
    }

    /* Om oss generellt*/
    @media only screen and (max-width: 767px) {
      body {
        font-size: 16px;
      }
      .section-features {
        padding: 30px 0;
      }
      .row {
        padding: 0 4%;
      }
      .col {
        width: 100%;
        margin: 0% 0 4% 0%;
      }
      .long-copy {
        width: 100%;
        margin-left: 0%;
      }
      .underline {
        size: 150%;
      }
    }

    /* KONTAKA OSS */
    .kontakta-oss {
      grid-template-columns: 1fr;
    }

    .kontakta-text-box {
      padding: 32px;
    }

    .kontakta-oss-img-box {
      height: 200px;
      grid-row: 1;
    }

    .portfolio-table tr {
      font-size: 14px;
    }
  }

  /* ABUOT ME */

  @media (max-width: 767px) {
    .aboutmequote {
      padding: 40px 60px;
    }

    .aboutmequote:before {
      font-size: 400%;

      top: 12%;
      left: 5%;
    }
  }

  @media (max-width: 600px) {
    .portfolio-table tr {
      font-size: 12px;
    }
  }

  @media (max-width: 510px) {
    .portfolio-table tr {
      font-size: 8px;
    }
  }

  /********************/
  /* Under 500px */
  /********************/
  @media (max-width: 480px) {
    /* CAROUSEL */

    .hero {
      margin-bottom: 10px;
    }
    .div-dots-container {
      margin-bottom: 10px;
    }

    /* ABUOT ME */

    /* KONTAKA OSS */
    .kontakta-oss {
      grid-template-columns: 1fr;
    }

    .kontakta-text-box {
      padding: 32px;
    }

    .kontakta-oss-img-box {
      height: 200px;
      grid-row: 1;
    }
  }

  @media (max-width: 480px) {
    .aboutmequote {
      padding: 40px 40px;
    }

    .aboutmequote:before {
      font-size: 300%;

      top: 12%;
      left: 5%;
    }
  }
  /* FOOTER */
  @media (max-width: 480px) {
    .container {
      max-width: 480px;
    }
    .container .footer-col {
      width: 50%;
      padding: 20px 20px;
    }
  }
}
