/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 Color system
Main color: #15aabf
Hover color: #0b7285

*/

.background-text {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 600px;
  color: white;
  position: absolute;
  z-index: 999;
  top: 40%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #555;
}

/***********/
/* HEADER */
/**********/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 32px;

  margin-bottom: 48px;
}

/***********/
/* NAVIGATION */
/**********/

.main-nav {
  display: block;
  margin: 0px auto;
  margin-top: 2.5%;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #15aabf;
}

/*************/
/* HERO */
/*************/
.hero p {
  margin-bottom: 20px;
}
.buttons {
  padding-top: 100px;
  background-color: #15aabf; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 30px;
}
.button {
  color: white;
  text-decoration: none;
}

.buttons:hover {
  background-color: #0b7285;
}

/* Slideshow container */
.hero {
  max-width: 100%;
  margin: auto;

  position: relative;
  margin-bottom: 50px;
}

/* Hide the images by default */
.hero-slides {
  width: 100%;
  height: 100%;
  background-color: black;
  border: none;
}

.hero-img {
  height: 800px;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.4;
  border: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Positions the "prev button" to the left*/
.prev {
  left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Pause and Play buttons */
.pause {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: hide;
}

/* On hover, add a black background color with a little bit see-through */
.pause:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.pause-left {
  left: 50px;
}

.pause-right {
  right: 50px;
}

.play-icon {
  font-size: 18px;
}

/* The dots/bullets/indicators */
.dots-container {
  text-align: center;
  margin-top: 32px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 64px;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/****************/
/* Om Oss Section */
/*****************/

.om-oss-sektion {
  max-width: 100%;
  margin: auto;

  position: relative;
  margin-bottom: 50px;
}

.om-oss-carousell {
  max-width: 1400px;
  margin: 100px auto;
  background-color: #15aabf;
  padding: 32px 48px 32px 86px;

  border-radius: 8px;
  position: relative;

  display: flex;
  align-items: center;
  gap: 86px;
}

.carousell-img {
  height: 250px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}

.testimonial-author {
  font-size: 16px;
  margin-bottom: 4px;
  color: #c3fae8;
}

.testimonial-job {
  font-size: 14px;
  color: #c3fae8;
}

/* CONTROLS */
.carousell-btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousell-btn:hover .btn-icon {
  stroke: #0b7285;
}

.btn--left {
  /* In relation to PARENTE ELEMENT */
  left: 0px;
  top: 50%;

  /* In relation to ELEMENT ITSELF */
  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0px;
  top: 50%;

  transform: translate(50%, -50%);
}

.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #15aabf;
}
.carousell-dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);

  display: flex;
  gap: 12px;
}

.carousell-dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #15aabf;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: #0b7285;
}

/* Style för "Om oss" Headern samt brödtext*/
.om-oss-h2 {
  text-align: center;
}

.om-oss-p {
  text-align: center;
}
/****************/
/* KONTAKTA OSS SEKTION */
/****************/

.section-kontakta-oss {
  margin-top: 64px;
  margin-bottom: 64px;
}

.kontakta-oss-container {
  max-width: 1400px;
  padding: 0 32px;
  margin: 0 auto;
}

.kontakta-oss {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.15);
  border-radius: 11px;
}

.kontakta-text-box {
  padding: 48px 64px 64px 64px;
}

.kontakta-oss .heading-secondary {
  color: inherit;
  margin-bottom: 32px;
  padding: 12px;
}

.kontakta-oss-text {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 48px;
  padding: 12px;
}

.kontakta-oss-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 24px;
}

.kontakta-oss-form label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  padding-left: 12px;
}

.kontakta-oss input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #15aabf;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.kontakta-oss-form input::placeholder {
  font-size: 18px;
  color: #fff;
}

.kontakta-oss *:focus {
  outline: none;
  box-shadow: 0 0 0 8px rgba(253, 242, 233, 0.5);
}

.kontakta-oss-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(78, 225, 235, 0.35),
      rgba(34, 158, 230, 0.35)
    ),
    url("/img/form-img.jpg");
  background-size: cover;
  background-position: center;
}

.btn-form,
.btn-form:link,
.btn-form:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  border-radius: 9px;
  background-color: #fff;
  color: #555;
  align-self: end;
  padding: 12px;
}

.btn-form:hover {
  background-color: #0b7285;
  color: #fff;
}

/****************/
/* FOOTER */
/****************/

.container {
  max-width: 1170px;
  margin: auto;
  margin-bottom: 50px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding-top: 70px;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #15aabf;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #3c3f44;
  background-color: #ffffff;
}

.outer-footer {
  padding: 15px;
  text-align: center;
  margin: 0;
  color: #bbbbbb;
  font-size: 15px;
}
